/**
 * @file
 * Style for sharing buttons
 *
 * This file defines the style for the buttons that are show
 * when images are hovered.
 */

/* sti */
.sti {
  position: relative;
}

/* Social buttons container */
.sti .sti-share-box {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 38px;
  display: none;
}
.sti .sti-share-box a {
  float: left;
  display: block;
  width: 58px;
  height: 58px;
  text-indent: -9999em;
  color: transparent !important;
  background: transparent url('../assets/flat_icons.png') no-repeat;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -ms-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all s linear;
  -ms-transform: scale(0.99); /* IE 9 */
  -webkit-transform: scale(0.99); /* Chrome, Safari, Opera */
  transform: scale(0.99);
}

/* Social Sharing Buttons */
.sti .sti-facebook-btn {
  background-position: -61px -17px  !important;
}
.sti .sti-twitter-btn {
  background-position: -1px -17px !important;
}
.sti .sti-google-btn {
  background-position: -302px -76px !important;
}
.sti .sti-pinterest-btn {
  background-position: -242px -77px !important;
}
