/**
 * @file
 * Style for sharing buttons
 *
 * This file defines the style for the buttons that are show
 * when images are hovered.
 */

/* sti */
.sti {
  position: relative;
}

/* Social buttons container */
.sti .sti-share-box {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 38px;
  display: none;
}
.sti .sti-share-box a {
  float: left;
  display: block;
  width: 61px;
  height: 61px;
  text-indent: -9999em;
  color: transparent !important;
  background: transparent url('../assets/round_icons.png') no-repeat;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -ms-transition: all 0s linear;
  -o-transition: all 0s linear;
  transition: all s linear;
  -ms-transform-origin: 0 0; /* IE 9 */
  -webkit-transform-origin: 0 0; /* Chrome, Safari, Opera */
  transform-origin: 0 0;
  -ms-transform: scale(0.85); /* IE 9 */
  -webkit-transform: scale(0.85); /* Chrome, Safari, Opera */
  transform: scale(0.85);
}

/* Social Sharing Buttons */
.sti .sti-facebook-btn {
  background-position: -392px -77px !important;
}
.sti .sti-twitter-btn {
  background-position: -0px -0px !important;
}
.sti .sti-google-btn {
  background-position: -156px 0px !important;
}
.sti .sti-pinterest-btn {
  background-position: -314px -77px !important;
}
